body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7c873;
    -webkit-text-stroke: black 0.5px;
    background-color: rgb(238, 238, 238);
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container {
    width: 90%;
    height: 780px;
    background-color: rgb(221, 221, 221);
    border-top: 13px solid rgb(75, 75, 75);
    border-right: 10px solid rgb(199, 199, 199);
    border-bottom: 10px solid rgb(155, 155, 155);
    border-left: 13px solid rgb(61, 61, 61);
    padding-bottom: 6%;
    overflow-y: auto;
    overflow-x: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s;
    height: 780px;
}

h1 {
    font-size: 50px;
    padding: 10px;
    background-color: rgb(231, 231, 231);
    border-top: 4px solid rgb(75, 75, 75);
    border-right: 3px solid rgb(199, 199, 199);
    border-bottom: 3px solid rgb(155, 155, 155);
    border-left: 4px solid rgb(61, 61, 61);
    transition: ease-in-out 0.3;
    direction: rtl;
}

span{
    font-size: 60px;
    transition: ease-in-out 0.3s;
    direction: rtl;
}

#free-palestine{
    border-top: 5px solid black;
    border-right: 5px solid rgb(255, 255, 255);
    border-left: 5px solid red;
    border-bottom: 5px solid green;
}

.questions{
    background-color: #fcf0d9;
    padding-right:10px;
    padding-left: 10px;
    border: 1.5px solid #f7c873;
    direction: rtl;
}

img{
    width: 300px;
    margin-top: 5px;
    border: 1.5px solid #f7c873;
    direction: rtl;
}

video {
    width: 300px;
    margin-top: 5px;
    border: 1.5px solid #f7c873;
    direction: rtl;
}

.button-container1,
.button-container2,
.button-container3,
.button-container4,
.button-container5 {
    flex: 0 0 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.finsh{
    flex: 0 0 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.finsh-btn{
    width: 100%;
    margin: auto;
    padding-bottom: 12.5px;
    transition: ease-in-out 0.3s;
    animation-delay: 0.4s;
    direction: rtl;
}
.finsh-btn:active{
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    border-top: solid 3px black;
    border-left: solid 3px black;
}
.ml-btns{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    direction: rtl;
}
button{
    background-color: rgb(231, 231, 231);
    border-top: solid 5px white;
    border-left: solid 5px white;
    font: 1.4rem sans-serif;
    color: #f7c873;
    -webkit-text-stroke: black 0.5px;
    padding: 5px;
    direction: rtl;
}

.score-btn{
    text-align: center;
    width: 45px;
    height: 50px;
    padding-top: 5px;
    direction: rtl;
}

.unscore-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 47px;
    height: 50px;
    padding-top: 5px;
    direction: rtl;
}

.unscore-btn[disabled]{
    background-color: rgb(61, 61, 61);
}

.score-btn[disabled]{
    background-color: #fcf0d9;
}

#donate {
    transition: ease-in-out 0.1;
    color: black;
    direction: rtl;
}
    
#donate:active {
    color: rgb(255, 255, 255);
}

.previous, .next{
    transition: ease-in-out 0.2s;
    animation-delay: 0.3s;
    direction: rtl;
}
.previous:active, .next:active{
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    border-top: solid 3px black;
    border-left: solid 3px black;
}

@media (min-width: 550px) {
h2{
    font-size: 1.9rem;
}
}
@media (max-width: 430px) {

    img,video {
        width: 80%;
    }
}

@media (max-width: 332px) {
    .container{
        padding-bottom: 18%;
    }
}
